<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hideaway</title>
    <link rel="stylesheet" href="template.css" type="text/css" />
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico" />
    <style>

    </style>
</head>

<body>
    <div class="container">
        <div class="bg-img">
            <div class="menu">
                <nav>
                    <h3><a href="#logo" class="navbar-brand">Hideaway Resort</a></h3>
                    <ul>
                        <li>
                            <a href="#home">Home </a>
                            <a href="#pages">Pages </a>
                            <a href="#contact">Contact </a>
                            <a href="#elements">Elements</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <style>

        </style>
        <div class="rowContent">
            <div class="content1 content">
                <div class="right"></div>
                <div class="left"></div>
                <div class="top"></div>
                <div class="bottom"></div>
                <p>Gallery</p>
            </div>

            <div class="content2 content">
                <div class="right"></div>
                <div class="left"></div>
                <div class="top"></div>
                <div class="bottom"></div>
                <p>Amneities</p>
            </div>

            <div class="content3 content">
                <div class="right"></div>
                <div class="left"></div>
                <div class="top"></div>
                <div class="bottom"></div>
                <p>Packages</p>
            </div>
        </div>

        <section class="content-section">
            <div class="col-content1">
                <p>An <em>inviting</em> escapse</p>
            </div>
            <div class="col-content2">
                <p>
                    Crafted with Bootstrap 4, Hideaway is perfectly responsive to every
                    devices available. Thousands of CSS helper classes let you customize
                    this template in any way you want, without writing any code. This is
                    a dummy text that you can change customize as you like with your
                    description.
                </p>
                <a href="#" class="btn">Our History</a>
            </div>
        </section>

        <section class="section">
            <div class="background-holder">
                <div class="highlight-content">
                    <h1 class="h1-content">Eagerly <em>waiting</em> to welcome you.</h1>
                    <a href="#" class="btn-link">book your stray</a>
                </div>
            </div>
        </section>

        <section>
            <div class="err">
                <div class="part1">
                    <p>123 Fake Street, Stone Ridge, NY 12345</p>
                    <div class="img">
                        <img src="./img/error_page.png" alt="" />
                    </div>
                </div>
                <div class="part2">
                    <p>Instagram / Facebook / Twitter</p>
                    <div class="images">
                        <div class="img">
                            <img src="./img/item1.jpg" alt="" />
                        </div>
                        <div class="img">
                            <img src="./img/item2.jpg" alt="" />
                        </div>
                        <div class="img">
                            <img src="./img/item3.jpg" alt="" />
                        </div>
                        <div class="img">
                            <img src="./img/item4.jpg" alt="" />
                        </div>
                        <div class="img">
                            <img src="./img/item5.jpg" alt="" />
                        </div>
                        <div class="img">
                            <img src="./img/item6.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="dark-section">
            <div class="dark_room">
                <div>
                    <div class="highlight-content">
                        <h4 class="h4-content">Join the <em>Hideaway</em> Newsletters</h4>
                        <p class="subscribe">
                            Subscribe to our mailing list to receive updates and promotional
                            offers.
                        </p>

                        <form action="">
                            <div><input type="text" placeholder="Enter Email Here" /></div>
                            <div><input type="submit" value="Register" /></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer">
                <p>
                    © Hideaway 2018 | Template crafted by <a href="#">Themewagon</a>
                </p>
                <div class="footer-menu">
                    <a href="#">Home</a>
                    <a href="#">Book Now</a>
                    <a href="#">Contact</a>
                    <a href="#">Events</a>
                    <a href="#">Policies</a>
                    <a href="#">Term + Conditions</a>
                </div>
            </div>
        </section>
    </div>
</body>

</html>